@page "/"
@namespace PinkBlazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>PinkBlazor</title>
    <base href="~/" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="_content/PinkBlazor.Components/css/bootstrap.min.css" />
    <!-- MDB -->
    <link rel="stylesheet" href="_content/PinkBlazor.Components/css/mdb.min.css" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="_content/PinkBlazor.Components/css/main.min.css" />

</head>
<body id="main-layout" class="body-container">

    <!-- JQuery -->
    <script type="text/javascript" src="_content/PinkBlazor.Components/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tool-tips -->
    <script type="text/javascript" src="_content/PinkBlazor.Components/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="_content/PinkBlazor.Components/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="_content/PinkBlazor.Components/js/mdb.min.js"></script>
    <script type="text/javascript" src="_content/PinkBlazor.Components/js/inputfile.js"></script>

    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
