
$primary-color: #43425D;
$primary-color-hover: #5a587d;

$secondary-color: #9a3463;
$secondary-color-hover: #c24780;

$success-color: #4bc25c;
$success-color-hover: #5ae16d;

$warning-color: #f8c681;
$warning-color-hover: #f7d6a9;

$danger-color: #de4343;
$danger-color-hover: #e16464;

$info-color: #88a1f2;
$info-color-hover: #a3b5f2;

$grey-color: #f3f3f3;
$grey-color-hover: #ffffff;

$dark-grey-color: #1e1e1e;
$dark-grey-color-hover: #373737;
