@namespace PinkBlazor
@inherits Component


<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">@MenuTitle</a>

    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
        @ChildContent
    </div>
</li>